<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="/CSS/header.css">
  <link rel="stylesheet" href="/CSS/index.css">
</head>



<body>
  
  <header class="custom-header">
    <a href="/" class="custom-logo">
      <img src="/Images/pagina/logo-final.png" alt="Logo">
    </a>

    <i class='bx bx-menu' id="menu-icon" onclick="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"/></svg>
    </i>

    <ul class="navbar" id="nav-list">
      <li><a href="log">Iniciar sesión</a></li>
      <li><a href="ingresar">Regístrate</a></li>
      <li><a href="#" id="btnPublicarViaje">Publicar viaje</a></li>
      <li><a href="solicitud">Solicitudes de viaje</a></li>
      <li><a href="buscarViaje">Buscar viaje</a></li>
    </ul>

    <div id="usuario-info" style="display: none;" onclick="toggleUserMenu()">
      <img id="foto-usuario" src="" alt="Foto de perfil">
      <span id="nombre-usuario"></span>
    </div>

    <div id="user-menu" style="display: none;">
      <img id="foto-usuario-menu" src="" alt="Foto de perfil">
      <span id="nombre-usuario-menu"></span>
      <button onclick="redirigirPerfil()" id="editarPerfilBtn">Editar perfil</button>
      <button id="cerrar-sesion" onclick="cerrarSesion()">Cerrar sesión</button>
    </div>
  </header>
  <section class="hero">
    <div class="hero-content">
      <div class="image-overlay-index">
        <h1>¡Bienvenido a Bla Bla Garza!</h1>
        <p>Cada destino empieza con un clic ¿A dónde vamos hoy?</p>
        <a href="buscarViaje" class="boton">Buscar viaje</a>
      </div>
    </div>
  </section>

  <section class="beneficios">
    <div class="beneficio">
      <div class="iconos">
        <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 24 24"><path fill="#4B4B4B" d="M10 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4m0-6a2 2 0 1 1 0 4c-1.11 0-2-.89-2-2s.9-2 2-2m2 14H2v-3c0-2.67 5.33-4 8-4c1 0 2.38.19 3.71.56c-.3.56-.48 1.18-.5 1.83c-.98-.29-2.1-.49-3.21-.49c-2.97 0-6.1 1.46-6.1 2.1v1.1H12zm8.8-3v-1.5c0-1.4-1.4-2.5-2.8-2.5s-2.8 1.1-2.8 2.5V17c-.6 0-1.2.6-1.2 1.2v3.5c0 .7.6 1.3 1.2 1.3h5.5c.7 0 1.3-.6 1.3-1.2v-3.5c0-.7-.6-1.3-1.2-1.3m-1.3 0h-3v-1.5c0-.8.7-1.3 1.5-1.3s1.5.5 1.5 1.3z"/></svg>
      </div>
      <h3>Viajes seguros</h3>
      <p class="texto-beneficio">Viaja solo con conductores verificados de tu universidad</p>
    </div>
    <div class="beneficio">
      <div class="iconos">
        <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 24 24"><path fill="#4B4B4B" d="M7 15h2c0 1.08 1.37 2 3 2s3-.92 3-2c0-1.1-1.04-1.5-3.24-2.03C9.64 12.44 7 11.78 7 9c0-1.79 1.47-3.31 3.5-3.82V3h3v2.18C15.53 5.69 17 7.21 17 9h-2c0-1.08-1.37-2-3-2s-3 .92-3 2c0 1.1 1.04 1.5 3.24 2.03C14.36 11.56 17 12.22 17 15c0 1.79-1.47 3.31-3.5 3.82V21h-3v-2.18C8.47 18.31 7 16.79 7 15"/></svg>
      </div>
      <h3>Ahorra dinero</h3>
      <p class="texto-beneficio">Encuentra opciones más económicas que un taxi o transporte público largo.</p>
    </div>
    <div class="beneficio">
      <div class="iconos">
        <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 24 24"><path fill="#4B4B4B" d="M20 14H4V8h3v2h2V8h6v2h2V8h3m0 11H4v-2h16M9 4h6v2H9m11 0h-3V4c0-1.11-.89-2-2-2H9c-1.11 0-2 .89-2 2v2H4c-1.11 0-2 .89-2 2v11c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2"/></svg>
      </div>
      <h3>Viaja cuando quieras</h3>
      <p class="texto-beneficio">Filtra por origen, destino, horario o conductor desde tu celular.</p>
    </div>
  </section>
  
  <div class="separador">
    <p>Conduce y gana. Publica tu viaje y lleva pasajeros a su destino.</p>
    <a href="publicarViaje" class="boton">Publicar viaje</a>
  </div>
  
  <section class="beneficios">
    <div class="beneficio">
      <div class="iconos">
        <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 24 24"><path fill="currentColor" d="M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m-3.3-3.375l3.075-1.35q.125-.05.238-.05t.237.05l3.05 1.35q.35.15.625-.112t.125-.613l-3.525-8.6q-.15-.35-.525-.35t-.525.35L7.95 15.9q-.15.35.125.613t.625.112"/></svg>
      </div>
      <h3>Contol total de tu viaje</h3>
      <p class="texto-beneficio">Decide la hora, el punto de partida, las paradas y a quién aceptar como pasajero.</p>
    </div>
    <div class="beneficio">
      <div class="iconos">
        <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 24 24"><path fill="currentColor" d="M8.4 21q-2.275 0-3.838-1.562T3 15.6q0-.95.325-1.85t.925-1.625L7.8 7.85l-1.7-3.4q-.25-.5.038-.975T7 3h10q.575 0 .863.475t.037.975l-1.7 3.4l3.55 4.275q.6.725.925 1.625T21 15.6q0 2.275-1.575 3.838T15.6 21zm3.6-5q-.825 0-1.412-.587T10 14t.588-1.412T12 12t1.413.588T14 14t-.587 1.413T12 16M9.625 7h4.75l1-2h-6.75zM8.4 19h7.2q1.425 0 2.413-.987T19 15.6q0-.6-.213-1.162t-.587-1.013L14.525 9H9.5l-3.7 4.4q-.375.45-.587 1.025T5 15.6q0 1.425.988 2.413T8.4 19"/></svg>
      </div>
      <h3>Usa asientos vacíos</h3>
      <p class="texto-beneficio">No dejes que esos espacios libres se desperdicien, conviértelos en ahorro.</p>
    </div>
    <div class="beneficio">
      <div class="iconos">
        <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 24 24"><path fill="currentColor" d="M1 20v-4q0-.85.588-1.425T3 14h3.275q.5 0 .95.25t.725.675q.725.975 1.788 1.525T12 17q1.225 0 2.288-.55t1.762-1.525q.325-.425.763-.675t.912-.25H21q.85 0 1.425.575T23 16v4h-7v-2.275q-.875.625-1.888.95T12 19q-1.075 0-2.1-.337T8 17.7V20zm11-4q-.95 0-1.8-.437T8.775 14.35q-.425-.625-1.062-.987T6.325 13q.55-.925 2.325-1.463T12 11t3.35.538T17.675 13q-.725 0-1.375.363t-1.075.987q-.55.8-1.4 1.225T12 16m-8-3q-1.25 0-2.125-.875T1 10q0-1.275.875-2.137T4 7q1.275 0 2.138.863T7 10q0 1.25-.862 2.125T4 13m16 0q-1.25 0-2.125-.875T17 10q0-1.275.875-2.137T20 7q1.275 0 2.138.863T23 10q0 1.25-.862 2.125T20 13m-8-3q-1.25 0-2.125-.875T9 7q0-1.275.875-2.137T12 4q1.275 0 2.138.863T15 7q0 1.25-.862 2.125T12 10"/></svg>
      </div>
      <h3>Conduce acompañado</h3>
      <p class="texto-beneficio">Evita viajar solo y disfruta de una experiencia más amena con personas de tu misma universidad.

      </p>
    </div>
  </section>
  

  <script src="/JS/login.js"></script>
  <script src="/JS/conductorVerificado.js"></script>
  <script src="/JS/header.js"></script>
</body>
</html>
