<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/header.css">
</head>

<header>
    <div class="header-container">
        <a href="/">
            <img class="logo" src="/Images/pagina/garza.png" alt="Logo">
        </a>
        <button class="menu-toggle" id="menu-toggle" onclick="toggleMenu()">☰</button>
        <nav>
            <ul class="nav-list" id="nav-list">
                <li><a href="log">Login</a></li>
                <li><a href="ingresar">Registrate</a></li>
                <li><a href="publicarViaje" onclick="verificarConductor()">Publicar viaje</a></li>
                <li><a href="buscarViaje">Buscar Viaje</a></li>
            </ul>
        </nav>
        <!-- Contenedor de usuario (invisible hasta que inicie sesión) -->
        <div id="usuario-info" style="display: none;" onclick="toggleUserMenu()">
            <img id="foto-usuario" src="" alt="Foto de perfil">
            <span id="nombre-usuario"></span>
        </div>

        <!-- Menú desplegable de usuario (invisible hasta que inicie sesión) -->
        <div id="user-menu" style="display: none;">
            <img id="foto-usuario-menu" src="" alt="Foto de perfil">
            <span id="nombre-usuario-menu"></span>
            <button onclick="redirigirPerfil()" id="editarPerfilBtn">Editar perfil</button>
            <button id="cerrar-sesion" onclick="cerrarSesion()">Cerrar sesión</button>
        </div>
    </div>
</header>

<body>
    <h2>Registro de Conductor</h2>
    <form id="formConductor" enctype="multipart/form-data">
        <label>Placas:</label>
        <input type="text" name="placas" required><br>

        <label>Modelo:</label>
        <input type="text" name="modelo" required><br>

        <label>Año:</label>
        <input type="number" name="ano" required><br>

        <label>Color:</label>
        <input type="text" name="color"><br>

        <label>Número de serie:</label>
        <input type="text" name="numero_serie" required><br>

        <label>Foto de licencia:</label>
        <input type="file" name="foto_licencia" accept="image/*" required><br><br>

        <button type="submit">Registrar</button>
    </form>

    <script src="/JS/publicar.js"></script>
    <script src="/JS/login.js"></script>
    <script src="/JS/conductorVerificado.js"></script>
</body>

</html>