<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/CSS/header.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header-container">
            <a href="/">
                <img class="logo" src="/Images/pagina/garza.png" alt="Logo">
            </a>
            <button class="menu-toggle" id="menu-toggle" onclick="toggleMenu()">☰</button>
            <nav>
                <ul class="nav-list" id="nav-list">
                    <li><a href="log">Login</a></li>
                    <li><a href="ingresar">Registrate</a></li>
                    <li><a href="#" id="btnPublicarViaje">Publicar viaje</a></li>
                    <li><a href="buscarViaje">Buscar Viaje</a></li>
                </ul>
            </nav>
            <!-- Contenedor de usuario (invisible hasta que inicie sesión) -->
            <div id="usuario-info" style="display: none;" onclick="toggleUserMenu()">
                <img id="foto-usuario" src="" alt="Foto de perfil">
                <span id="nombre-usuario"></span>
            </div>

            <!-- Menú desplegable de usuario (invisible hasta que inicie sesión) -->
            <div id="user-menu" style="display: none;">
                <img id="foto-usuario-menu" src="" alt="Foto de perfil">
                <span id="nombre-usuario-menu"></span>
                <button onclick="redirigirPerfil()" id="editarPerfilBtn">Editar perfil</button>
                <button id="cerrar-sesion" onclick="cerrarSesion()">Cerrar sesión</button>
            </div>
        </div>
    </header>
    
    <form action="/subir-licencia" method="POST" enctype="multipart/form-data">
        <label for="foto_licencia">Sube tu licencia de conducir:</label>
        <input type="file" name="foto_licencia" id="foto_licencia" accept="image/*" required><br><br>
        <button type="submit">Guardar Información</button>
    </form>
    <script src="/JS/login.js"></script>
    <script src="/JS/conductorVerificado.js"></script>
</body>

</html>