<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/subirLicencia.css">
    <link rel="stylesheet" href="/CSS/header.css">
    <title>Subir Licencia</title>
</head>

<body>
    <header class="custom-header">
        <a href="/" class="custom-logo">
            <img src="/Images/pagina/logo-final.png" alt="Logo">
        </a>

        <i class='bx bx-menu' id="menu-icon" onclick="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"/>
            </svg>
        </i>

        <ul class="navbar" id="nav-list">
            <li><a href="log">Iniciar sesión</a></li>
            <li><a href="ingresar">Regístrate</a></li>
            <li><a href="#" id="btnPublicarViaje">Publicar viaje</a></li>
            <li><a href="buscarViaje">Buscar viaje</a></li>
        </ul>

        <div id="usuario-info" style="display: none;" onclick="toggleUserMenu()">
            <img id="foto-usuario" src="" alt="Foto de perfil">
            <span id="nombre-usuario"></span>
        </div>

        <div id="user-menu" style="display: none;">
            <img id="foto-usuario-menu" src="" alt="Foto de perfil">
            <span id="nombre-usuario-menu"></span>
            <button onclick="redirigirPerfil()" id="editarPerfilBtn">Editar perfil</button>
            <button id="cerrar-sesion" onclick="cerrarSesion()">Cerrar sesión</button>
        </div>
    </header>
    
    <form action="/subir-licencia" method="POST" enctype="multipart/form-data">
        <!-- <div class="file-photo">
            <p>Foto de su INE</p>
            <label for="foto_licencia" class="label-photo">Seleccione el archivo</label>
            <input id="foto_licencia" class="subir-foto" type="file" name="foto_ine" accept="image/*" required>
          </div> -->
        <label for="foto_licencia">Sube tu licencia de conducir:</label>
        <input type="file" name="foto_licencia" id="foto_licencia" accept="image/*" required><br><br>
        <button type="submit">Guardar Información</button>
    </form>

    <script src="/JS/login.js"></script>
    <script src="/JS/conductorVerificado.js"></script>
    <script src="/JS/header.js"></script>
</body>

</html>
