<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes Publicados</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/viajePublicado.css">
</head>

<body>
    <header>
        <div class="header-container">
            <a href="/">
                <img class="logo" src="/Images/pagina/garza.png" alt="Logo">
            </a>
            <button class="menu-toggle" id="menu-toggle" onclick="toggleMenu()">☰</button>
            <nav>
                <ul class="nav-list" id="nav-list">
                    <li><a href="log">Login</a></li>
                    <li><a href="ingresar">Registrate</a></li>
                    <li><a href="#" id="btnPublicarViaje">Publicar viaje</a></li>
                    <li><a href="buscarViaje">Buscar Viaje</a></li>
                </ul>
            </nav>

            <div id="usuario-info" style="display: none;" onclick="toggleUserMenu()">
                <img id="foto-usuario" src="" alt="Foto de perfil">
                <span id="nombre-usuario"></span>
            </div>

            <div id="user-menu" style="display: none;">
                <img id="foto-usuario-menu" src="" alt="Foto de perfil">
                <span id="nombre-usuario-menu"></span>
                <button onclick="redirigirPerfil()" id="editarPerfilBtn">Editar perfil</button>
                <button id="cerrar-sesion" onclick="cerrarSesion()">Cerrar sesión</button>
            </div>
        </div>
    </header>

    <h1 class="titulo-viajes">Viajes Publicados</h1>

    <div class="busqueda-container">
        <input type="text" id="busquedaOrigen" placeholder="Buscar por origen" class="campo-busqueda">
        <input type="text" id="busquedaDestino" placeholder="Buscar por destino" class="campo-busqueda">
    </div>

    <div id="viajesContainer" class="viajes-container"></div>

    <script src="/JS/login.js"></script>
    <script src="/JS/conductorVerificado.js"></script>
    <script src="/JS/mostrarViaje.js"></script>
</body>

</html>