<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <a href="/">
                <img class="logo" src="/Images/pagina/garza.png" alt="Logo">
            </a>
            <button class="menu-toggle" id="menu-toggle" onclick="toggleMenu()">☰</button>
            <nav>
                <ul class="nav-list" id="nav-list">
                    <li><a href="log">Login</a></li>
                    <li><a href="ingresar">Registrate</a></li>
                    <li><a href="#" id="btnPublicarViaje">Publicar viaje</a></li>
                    <li><a href="buscarViaje">Buscar Viaje</a></li>
                </ul>
            </nav>
            <!-- Contenedor de usuario (invisible hasta que inicie sesión) -->
            <div id="usuario-info" style="display: none;" onclick="toggleUserMenu()">
                <img id="foto-usuario" src="" alt="Foto de perfil">
                <span id="nombre-usuario"></span>
            </div>

            <!-- Menú desplegable de usuario (invisible hasta que inicie sesión) -->
            <div id="user-menu" style="display: none;">
                <img id="foto-usuario-menu" src="" alt="Foto de perfil">
                <span id="nombre-usuario-menu"></span>
                <button onclick="redirigirPerfil()" id="editarPerfilBtn">Editar perfil</button>
                <button id="cerrar-sesion" onclick="cerrarSesion()">Cerrar sesión</button>
            </div>
        </div>
    </header>

    <h1>Viajes Publicados</h1>
    <input type="text" id="busqueda" placeholder="Buscar por origen o destino..." class="border p-2 m-4 w-full max-w-md mx-auto block rounded">
    <div id="viajesContainer"></div>


    <script src="/JS/login.js"></script>
    <script src="/JS/conductorVerificado.js"></script>
    <script src="/JS/mostrarViaje.js"></script>
</body>

</html>